@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

*{margin: 0; padding: 0; font-family: 'Ubuntu', sans-serif;}
body{background: #e6e6e6;}
#header{top : 0;width:100%; height: 90px; background: #3f5267; position: fixed; z-index: 999;}
#wrap{margin-top: 90px;}
#up_head{width : 90%; height: 30px; background: #74889e;padding-left: 5%; padding-right: 5%;}
#link{width: 30%; float: left; height: 30px;}
#link ul{list-style-type: none; margin-left: 15%;}
#link ul li{float: left; padding-left: 2%; padding-right: 2%; box-sizing: border-box;}
#link ul li a{text-decoration: none; line-height: 30px; color: #fff; font-size: 12px;}
#date{width: 30%; float: left; height: 30px;}
#date p{color: #fff; font-size: 14px; line-height: 30px; text-align: center;}
#slog{width: 30%; float: left; height: 30px;}
#slog p{color: #fff; line-height: 30px; text-align: right;font-size: 14px; margin-right: 5%;}

#title{width : 20%; height: 60px; float: left; box-sizing: border-box; border-right: 1px solid rgba(0,0,0,0.2);}
#title h2{text-align: center; font-weight: normal;}
#title h2 a{line-height: 60px; text-decoration: none; color: #fff; text-shadow: 4px 4px 4px #000;}

#menu{transition: all 0.3s ease-in-out; color: #fff;width : 5%; height: 60px; float: left; box-sizing: border-box; border-right: 1px solid rgba(0,0,0,0.2);}
#menu h2{text-align: center; line-height: 60px; cursor: pointer;}
#menu:hover{background: #fff; color: #3f5267;}
#menu:hover ul{visibility: visible;opacity: 1;}
#menu ul{transition: all 0.3s ease-in-out;opacity: 0; visibility: hidden; padding-top: 1%; box-sizing: border-box;list-style-type: none; position: absolute;background: #fff; width: 20%;}
#menu ul li{box-sizing: border-box;transition: all 0.3s ease-in-out; border-left: 4px solid #fff;width : 100%; height: 40px; font-size: 14px;  line-height: 40px;}
#menu ul li a{transition: all 0.3s ease-in-out; display: block; text-decoration: none; color: #3f5267;}
#menu ul li a i{width : 15%; text-align: center;}
#menu ul li:hover{background: #74889e; border-left: 4px solid #3f5267;}
#menu ul li:hover a{color: #fff; padding-left: 5%;}


#head_search{width: 40%; height: 60px; float: left; padding-left: 2%; box-sizing: border-box; border-right: 1px solid rgba(0,0,0,0.2);}
#head_search form input{border-width: 0px; border-top-left-radius: 30px; border-bottom-left-radius: 30px; width: 90%; height: 30px; margin-top: 2%; padding-left: 4%; box-sizing: border-box; background-color: #fff; outline: none;}
#head_search form button{cursor: pointer;margin-left: -2%; border-width:0px; border-top-right-radius: 30px; border-bottom-right-radius: 30px; width: 8%; height: 30px; margin-top: 2%; padding-left: 4%; box-sizing: border-box; background-color: #fff; outline: none; text-align: left;}
#head_search form button:hover{background: #e6e6e6;}


#head_cart{text-align: center;width:5%; height: 60px; float: left; box-sizing: border-box; border-right: 1px solid rgba(0,0,0,0.2);}
#head_cart a{text-decoration: none; color: #fff; font-size: 24px; line-height: 60px;}

#head_login{transition: all 0.3s ease-in-out; color: #fff; width : 10%; height: 60px; float: left;;box-sizing: border-box;border-right: 1px solid rgba(0,0,0,0.2); }
#head_login h4{cursor: pointer; line-height: 60px; text-align: center;}
#head_login form{transition: all 0.3s ease-in-out; visibility: hidden; opacity: 0;padding: 2%; box-sizing: border-box;position: absolute; width : 30%; margin-left:-20%; background: #fff;}
#head_login:hover form{visibility: visible; opacity: 1;}
#head_login form h3{width : 100px; height: 100px; background: #3f5267;text-align: center; color:#fff; line-height: 100px; border-radius: 100%}
#head_login form h4{color: #3f5267; font-size: 30px; font-weight: normal;}
#input_f{padding-left: 2%; box-sizing: border-box;width : 100%; border-bottom: 1px solid rgba(0,0,0,0.2); height : 40px; line-height: 40px; margin-bottom: 2%;}
#input_f input{background: none; outline: none; border-width: 0px;}
#input_f i{width : 10%; color: #3f5267;}
#head_login form h5{color: #3f5267; font-weight: normal; margin: 4% 0% 6% 0%; font-size: 14px; float: right; cursor: pointer;}
#head_login form center button{transition: all 0.3s ease-in-out; color: #fff; cursor: pointer;width: 100%; height: 35px; outline: none; border-width: 0px; background: #3f5267; border-radius: 30px;}
#head_login form center button:hover{border-radius: 0px;}
#head_login:hover{background: #fff; color: #3f5267;}


#head_signup{width : 10%; height: 60px; float: left; color: #fff;}
#head_signup h4{cursor: pointer; line-height: 60px; text-align: center;}
#head_login{transition: all 0.3s ease-in-out; color: #fff; width : 10%; height: 60px; float: left;;box-sizing: border-box;border-right: 1px solid rgba(0,0,0,0.2); }
#head_signup h4{cursor: pointer; line-height: 60px; text-align: center;}
#head_signup form{transition: all 0.3s ease-in-out; visibility: hidden; opacity: 0;padding: 2%; box-sizing: border-box;position: absolute; width : 30%; margin-left:-20%; background: #fff;}
#head_signup:hover form{visibility: visible; opacity: 1;}
#head_signup form h3{width : 100px; height: 100px; background: #3f5267;text-align: center; color:#fff; line-height: 100px; border-radius: 100%}
#head_signup form h4{color: #3f5267; font-size: 30px; font-weight: normal;}
#head_signup form h5{color: #3f5267; font-weight: normal; margin: 4% 0% 6% 0%; font-size: 14px; float: right; cursor: pointer;}
#head_signup form center button{margin-top: 2%;transition: all 0.3s ease-in-out; color: #fff; cursor: pointer;width: 100%; height: 35px; outline: none; border-width: 0px; background: #3f5267; border-radius: 30px;}
#head_signup form center button:hover{border-radius: 0px;}
#head_signup:hover{background: #fff; color: #3f5267;}





#slider{width: 100%; height: 400px;}
#slider img{width: 100%; height: 400px;}

#home_cat{width: 100%; padding: 3% 5% 5% 3%; box-sizing: border-box;}
#home_cat h2{font-size: 30px; text-align: center;font-weight: normal; color: #3f5267;}
#home_cat ul{list-style-type: none; margin-top: 3%;}
#home_cat ul li{transition: all 0.3s ease-in-out;margin-left: 2%; width: 18%; height: 200px; background: #fff; float: left; margin-bottom: 3%;}
#home_cat ul li a{text-decoration: none;}
#home_cat ul li a i{text-align: center; color: #3f5267; font-size: 60px; margin-top: 20%;}
#home_cat ul li a h4{margin-top: 4%;color: #74889e; margin-bottom: 2%;}
#home_cat ul li a p{color: #3f5267;}
#home_cat ul li:hover{background: #3f5267; border-radius: 100%;}
#home_cat ul li:hover i{color: #74889e;}
#home_cat ul li:hover p{color: #74889e;}

#top_course{margin-top: -4%; width: 100%; padding: 0% 5% 2% 3%; box-sizing: border-box;}
#top_course h2{font-size: 30px; text-align: center;font-weight: normal; color: #3f5267;}
#top_course ul{list-style-type: none; margin-top: 3%;}
#top_course ul li{height: 270px; transition: all 0.3s ease-in-out;margin-left: 2%; width: 18%;box-sizing: border-box; padding: 1%;background: #fff; float: left; margin-bottom: 3%;}
#top_course ul li a{text-decoration: none;}
#top_course ul li a img{width : 100%; height : 150px;}
#top_course ul li a h3{color: #74889e; margin-top: 3%; font-size: 14px;}
#top_course ul li a h4{color: #3f5267; font-weight: normal; font-size: 18px; margin-top: 4%; margin-bottom: 4%;}
#top_course ul li a h5{color: #74889e; font-weight: normal;}
#top_course ul li:hover{transform: scale(1.1);}

#footer{width: 100%;  background: #3f5267;}
#footer ul{list-style-type: none; padding: 3% 5% 5% 5%; box-sizing: border-box;}
#footer ul li{float: left; width: 33%; padding-right: 5%; box-sizing: border-box;}
#footer ul li h2{color: #fff; font-weight: normal; margin-bottom: 10%;}
#footer ul li p{font-weight: normal; line-height: 24px; font-size: 18px; color: #74889e;}
#footer ul li h2 span{border-bottom: 2px solid #1DA1F2; padding-bottom: 2%; box-sizing: border-box;}

#footer ul li table{width:100%;margin-bottom: 5%;}
#footer ul li table tr td {color: #74889e; padding-bottom: 5%;}
#footer ul li table tr td:nth-child(1){width: 10%;}
#footer table tr td i{color: #1DA1F2;}



#cart{width: 96%; padding : 2%; box-sizing: border-box; background: #fff; margin: 2% 2% 1% 2%;}
#crumb{box-shadow: 0px 0px 20px #ccc;height: 35px; line-height: 35px;width: 96%; padding-left : 2%; padding-right: 2%; box-sizing: border-box; background: #fff; margin: 0% 2% 1% 2%;}
#crumb span{font-size: 14px; margin-right: 1%; margin-left: 0.5%; color: #74889e;}
#crumb span a{color: #06f; text-decoration: none;}
#crumb span a:hover{text-decoration: underline;}
#crumb b{font-weight: normal; color: #74889e;}

#cart table{width : 100%;}
#cart table tr th{text-align: left; padding-left: 2%; box-sizing: border-box;height: 35px; background: #3f5267; color: #fff;}
#cart table tr td{border-bottom: 1px solid rgba(0,0,0,0.1); text-align: left;font-size: 14px; padding : 1% 0% 1% 2%; box-sizing: border-box; color: #3f5267;padding-right: 0.5%}
#cart table tr td img{width: 80px; height: 60px;float : left; margin-right: 2%;}
#cart table tr td span{float: left; width: 88%;}
#cart table tr td span a{text-decoration: none; color: #3f5267;font-size: 14px;}
#cart table tr td span a:hover{text-decoration: underline;}
#cart table tr td b{font-size: 12px; font-weight: normal;float: left; margin-top: 1%;}
#cart table tr td b a{text-decoration: none; color: #f00;}
#cart table tr td b a:hover{text-decoration: underline;}
#cart table tr td button{transition: all 0.3s ease-in-out; width: 48%; height: 45px; outline: none; background: #3f5267; color: #fff; border-width: 0px; border-radius: 30px; cursor: pointer;}
#cart table tr td button a{display: block ;text-decoration: none; color: #fff;}
#cart table tr td button:hover{border-radius: 0px;}

#course_left{height : 500px;width : 48%; margin: 1.5% 0% 2% 2%; padding: 2%; box-sizing: border-box; float: left; background: #fff;}
#course_right{height: 500px;width : 48%; margin: 1.5% 2% 2% 0%; padding: 2% 2% 2% 0%; box-sizing: border-box; float: left; background: #fff;}
#course_left img{width: 100%; height: 350px; border-radius: 5px;}
#course_right h2{margin-bottom: 3%; color: #3f5267; font-weight: normal; font-size: 20px; box-sizing: border-box; padding-bottom: 3%; border-bottom: 1px solid rgba(0,0,0,0.1);}
#course_right table{width: 100%;}
#course_right table tr td{ height: 30px; font-weight: bold;}
#course_right table tr td:nth-child(1){width: 20%; font-weight: bold; color: #3f5267;}
#course_right table tr td:nth-child(2){width: 80%; color: #74889e;}
#price{line-height: 60px; margin-top: 3%;margin-bottom: 3%; width: 100%; height: 60px; border-bottom: 1px solid rgba(0,0,0,0.1); border-top: 1px solid rgba(0,0,0,0.1); }
#price h3{width: 100%; font-size: 22px; font-weight: normal; color: #3f5267;}
#price h3 span{font-size: 14px; text-decoration: line-through; margin: 0% 2% 0% 2%;}
#price h3 b{margin-right: 2%; padding: 2%; box-sizing: border-box; font-weight: normal; font-size: 14px; background: #3f5267; color: #fff; text-align: center; border-radius: 100%;}
#course_right form button{float: left;font-weight: bold;transition: all 0.3s ease-in-out;cursor: pointer;border-radius: 15px; text-transform: uppercase;width: 48%; height: 35px; outline: none; border-width: 0px; background: #3f5267; color: #fff;}
#course_right form button a{color: #fff; text-decoration: none;}
#course_right form button:hover{border-radius: 0px;}
#course_right form div{margin-left: 1%;float: left;font-weight: bold;transition: all 0.3s ease-in-out;cursor: pointer;border-radius: 15px; text-transform: uppercase;width: 48%; height: 35px; outline: none; border-width: 0px; background: #3f5267; color: #fff;}
#course_right form div a{color: #fff; text-decoration: none; line-height: 35px; display: block;}
#course_right form div:hover{border-radius: 0px;}


#course_share{width: 100%; margin : 2% 0% 2% 0%; padding: 0% 2% 0% 2%; box-sizing: border-box;}
#course_share div{text-align: center;float: left;transition: all 0.3s ease-in-out; cursor: pointer;border-radius: 20px; width: 160px; height: 35px; border-width: 0px; outline: none; margin: 0% 0.5% 0% 0.5%;}
#course_share div a{line-height: 35px;text-decoration: none; color: #fff; display: block;}
#course_share div:hover{border-radius: 0px;}
#c_desc{width : 66%; margin: 0% 2% 2% 2%; padding: 2%; box-sizing: border-box; float: left; background: #fff;}
#c_desc h2{color: #3f5267; font-weight: normal;}
#c_desc p{color: #74889e; line-height: 25px; font-size: 16px; margin: 2% 0% 2% 0%;}
#c_rel{width : 28%; margin: 0% 2% 2% 0%; padding: 2% 2% 2% 2%; box-sizing: border-box; float: left; background: #fff;}
#c_desc img{float: left; margin: 2% 4% 2% 0% ;cursor: pointer;transition: all 0.3s ease-in-out; box-shadow: 0px 0px 20px #2e2e2e; width: 20%; height: 150px; border-radius: 100%;}
#c_desc img:hover{border-radius: 0px; box-shadow: none;}
#c_desc ul {list-style-type: none; border: 1px solid #3f5267; margin-top: 2%; padding: 0% 2% 0% 2%; box-sizing: border-box;}
#c_desc ul li{width: 100%; height: 40px; border: 1px solid #74889e; margin: 2% 0% 2% 0%; line-height: 40px; padding: 0% 2% 0% 2%; box-sizing: border-box;}
#c_desc ul li i{font-size: 12px; margin-right: 1%; color: #3f5267;}
#c_desc ul li span{font-size: 14px; color: #3f5267;}
#c_rel h2{color: #3f5267; font-weight: normal; margin-bottom: 6%;}
#c_rel ul{list-style-type: none;}
#c_rel ul li{width : 100%; margin-bottom: 15%;}
#c_rel ul li a img{width: 28%; height: 60px; margin-right: 4%; float: left;}
#c_rel ul li a{text-decoration: none; color: #3f5267; font-size: 14px;}
#c_rel ul li:hover img{opacity: 0.8;}
#c_rel ul li:hover a{text-decoration: underline;}


#f_input{font-size: 14px; border-radius: 3px; width: 100%; height : 30px; background: #74889e; margin-bottom: 2%;}
#f_input i{width: 10%; color: #3f5267; text-align: center; }
#f_input input{color: #fff;border-width: 0px; background: none; outline: none; height: 30px; width: 88%;}
#footer ul li textarea{color: #fff; resize: none; border-radius: 3px; border-width: 0px; background: #74889e; outline: none; height: 100px; width: 100%; padding: 5%; box-sizing: border-box;}
#footer ul li button{cursor: pointer; float: right;width : 40%; height: 35px; border-width: 0px; outline: none; background: #74889e; color: #fff; margin-top: 2%; border-radius: 3px;}
#f_input input::-webkit-input-placeholder{color: #3f5267;}
#footer ul li textarea::-webkit-input-placeholder{color: #3f5267;}
#footer h3{height: 50px; line-height: 50px; background: #2e2e2e; color: #fff; text-align: center; font-weight: normal;}

#f_share{width : 100%; margin-top: -5%;}
#f_share div{transition: all 0.3s ease-in-out; text-align: center; margin : 0% 1% 0% 1% ; width: 40px; height: 40px; line-height: 40px; float: left; border-radius: 100%;}
#f_share div a{display: block;text-decoration: none; color: #fff;}
#f_share div:hover{border-radius: 0px; background: #2e2e2e;}
#tw{background:#1DA1F2; }
#fb{background: #3b5998;}
#gp{background: #cc3333;}
#w{background: #25d366;}


#cat_bodyleft{width : 20%; background : #74889e; padding: 1%; box-sizing: border-box; float: left;height: 500px;}
#cat_bodyright{width : 80%; padding: 0% 2% 2% 2%; box-sizing: border-box; float: left;}
#cat_bodyleft h2{font-size: 14px; height: 35px; line-height: 35px; color: #3f5267; background: #fff; border-radius: 15px; width: 100%; text-align: center;}
#cat_bodyleft ul{list-style-type: none;margin-top: 5%; margin-bottom: 5%;}
#cat_bodyleft ul li{width : 100%; height: 35px; line-height: 35px; color: #fff; padding-left: 5%; box-sizing: border-box;}
#cat_bodyleft ul li a{font-weight: normal; font-size: 14px;display: block;color: #fff; text-decoration: none;}
#cat_bodyleft ul li a i{width : 20px;}
#cat_bodyleft ul li:hover a{text-decoration: underline;}
#cat_bodyright h2{padding-left: 2%; box-sizing: border-box; color: #3f5267; margin-top: 2%; font-size: 20px; font-weight: normal;}
#cat_bodyright h2 a{display: block;text-decoration: none; color: #3f5267; font-size: 14px;}
#cat_bodyright h2 span{transition: all 0.3s; padding: 1% 1.2% 1% 1.2%; border: 1px solid #3f5267; border-radius: 100%; float: right;margin-right: 2%;}
#cat_bodyright h2 span:hover{border-radius: 0px; background:  #3f5267;}
#cat_bodyright h2 span:hover a{color: #fff;}
#cat_bodyright ul{list-style-type: none; margin-top: 3%;}
#cat_bodyright ul li{height: 270px; transition: all 0.3s ease-in-out;margin-left: 2%; width: 23%;box-sizing: border-box; padding: 1%;background: #fff; float: left; margin-bottom: 3%;}
#cat_bodyright ul li a{text-decoration: none;}
#cat_bodyright ul li a img{width : 100%; height : 150px;}
#cat_bodyright ul li a h3{color: #74889e; margin-top: 3%; font-size: 14px;}
#cat_bodyright ul li a h4{color: #3f5267; font-weight: normal; font-size: 18px; margin-top: 4%; margin-bottom: 4%;}
#cat_bodyright ul li a h5{color: #74889e; font-weight: normal;}
#cat_bodyright ul li:hover{transform: scale(1.1);}

#dash{width: 100%; padding: 2%; box-sizing: border-box;}
#dash h1{color: #3f5267;  font-weight: normal; width: 40%;float: left;}
#dash form{width: 60%; float: right; margin-bottom: 1%;}
#c_form{background:  #3f5267; width: 100%; height: 35px; border-radius: 15px; }
#c_form input{width: 80%; height: 35px; background: #fff; outline: none; border: 1px solid #3f5267; padding-left: 3%; box-sizing: border-box; border-top-left-radius: 15px; border-bottom-left-radius: 15px;}
#c_form button{color: #fff; cursor: pointer;width: 18%; height: 35px; background: none; outline: none; border-width: 0px; padding-left: 3%; box-sizing: border-box;}
#dash table{width : 100%; margin-top: 2%; background: #fff; margin-bottom: 2%;}
#dash table tr th{text-align: left;background: #3f5267; color: #fff; height: 35px; font-size: 14px; font-weight: normal;}
#dash table tr th:nth-child(1){padding-left: 2%;}
#dash table tr td{border-bottom: 1px solid rgba(0,0,0,0.2); height: 60px; padding: 2%; box-sizing: border-box; color: #74889e; font-size: 14px;}
#dash table tr td img{height: 60px; width: 100px; }
#dash table tr td:nth-child(1){padding-left: 2%;}
#dash table tr td:nth-child(2){vertical-align: top; color: #3f5267; font-size: 14px; width: 40%; padding-left: 0%;}
#dash table tr td a{text-decoration: none; color: #06f;}
#dash table tr td a:hover{text-decoration: underline;}
#dash table tr td span a{color: #74889e;}
#dash table tr td span a:hover{color: #06f;}


#c_edit_l{height : 500px;width : 20%; float: left; background: #74889e; position: fixed;}
#c_edit_r{width : 80%; padding: 0% 2% 2% 2%; box-sizing: border-box; float: left; margin-left: 20%;}
#c_edit_l h1{font-size: 20px; color: #3f5267; text-shadow: 1px 1px 1px #000; width: 100%; height: 50px; line-height: 50px; font-weight: normal; text-align: center;}
#c_edit_l ul{list-style-type: none;}
#c_edit_l ul li{transition: all 0.3s; width: 100%; height: 60px; line-height: 60px;}
#c_edit_l ul li a{transition: all 0.3s; font-weight: bold;text-decoration: none; color: #fff; text-shadow: 1px 1px 1px #000; padding-left: 10%; box-sizing: border-box; font-size: 14px; display: block;}
#c_edit_l ul li a i{width: 20px;}
#c_edit_l ul li:hover{background: #fff;}
#c_edit_l ul li:hover a {color: #3f5267; text-shadow: none; padding-left: 15%;}
#c_edit_l button{position: absolute; bottom: 10%; left: 10%; height: 45px; width: 80%; cursor: pointer; border-width: 0px; color: #3f5267; background: #fff; transition: all 0.3s;}
#c_edit_l button:hover{color: #fff; background: #3f5267;}
#c_edit_r h2{width: 100%; height: 60px; line-height: 60px; padding: 0% 2% 0% 2%; box-sizing: border-box; font-weight: normal; color: #3f5267;}
#c_edit_input{margin: 0% 2% 0% 2%;border-radius: 15px; width: 96%;background: #e6e6e6; height: 35px; box-sizing: border-box; border: 1px solid #3f5267; padding-left: 2%;}
#c_edit_input input{border-width: 0px; width: 90%; height: 35px; background: none;outline: none; float: left;}
#c_edit_input p{font-size: 14px; width: 8%; background: #3f5267; color: #fff; height: 33px; line-height: 33px; float: right; text-align: center; border-bottom-right-radius: 15px; border-top-right-radius: 15px; }
#c_edit_r form img{width : 250px; height: 200px; margin: 0% 2% 0% 2%; transition: all 0.3s; float: left;}
#c_edit_r form img:hover{border-radius: 100%; }
#c_edit_r form span{color: #74889e; width: 70%; font-size: 14px; line-height: 22px; float: left;}
#c_img{margin: 2% 0% 2% 0%;border-radius: 15px; width: 68%;background: #e6e6e6; height: 35px; box-sizing: border-box; border: 1px solid #3f5267; padding-left: 2%; float: left; padding-top: 0.4%;}
#c_edit_r form button{width: 20%; height: 35px; background: none; color: #3f5267; border: 1px solid #3f5267; outline: none; border-radius: 15px; cursor: pointer; transition: all 0.3s; float: right; margin-right: 10%;}
#c_edit_r form button:hover{background: #3f5267; color: #fff; border-radius: 0px;}


#user_l{height : 500px;width : 20%; float: left; background: #74889e; position: fixed;}
#user_l img{height: 180px; width: 60%; margin: 16% 0% 6% 0%; border-radius: 100%; box-shadow: 0px 0px 10px #2e2e2e;}
#user_r{width : 80%; padding: 0% 2% 2% 2%; box-sizing: border-box; float: left; margin-left: 20%;}
#user_l h1{width: 86%; height: 35px;background: #fff; color: #3f5267; font-size: 16px; line-height: 35px; text-align: center; margin: 10% 7% 0% 7%; border-radius: 15px;}
#user_l ul{list-style-type: none; padding: 5% 10% 5% 10%; box-sizing: border-box;}
#user_l ul li{width: 100%; height: 40px; line-height: 40px;}
#user_l ul li a{text-decoration: none; color: #fff; font-size: 14px;}
#user_l ul li a i{width: 20px;}
#user_l ul li a:hover{text-decoration: underline;}
